@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --default-color: #0052F4;
}  
::selection{
    background-color: var(--default-color);
    color: white;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--default-color);
    padding: 40px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 36%, rgba(0,52,255,1) 100%);
}
.modal {
    position: fixed;
    height: 500px;
    width: 70%;
    box-shadow: 1px 1px 12px black;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0052F4;
    background-color: #023aa8;
    padding: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 999;
}

.modal .card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 82px 2rem;
}

.modal .card .background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.modal .card .a-link .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.modal .card .a-link .btn{
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    width: 50%;
    cursor: pointer;
}

.modal .card .img-background{
    height: 150px;
    width: auto;
}

.container{
    width: 58vw;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 30px;
    gap: 6rem;
}
.container .login-form .tittle{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.container .login-form .tittle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background-color: var(--default-color);
}
.container .login-form .input-box{
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.container .login-form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.container .login-form .input-box .input:focus,
.container .login-form .input-box input:valid{
    border-color: var(--default-color);
}
.container .login-form .input-box input[type="submit"]{
    background-color: var(--default-color);
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.container .login-form .input-box i{
    position: absolute;
    color: var(--default-color);
    font-size: 17px;
}

.container .login-form .forgot a{
    color: var(--default-color);
    text-decoration: none;
}
.container .login-form .divider{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}
.container .login-form .medias-sociais{
    text-align: center;
}
.container .login-form .medias-sociais i{
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

.container .login-form .medias-sociais i:hover{
    color: var(--default-color);
}
.container .login-form .sigup-text a{
    color: var(--default-color);
    text-decoration: none;
}  
.container .login-img{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .login-img .content-text{
    position: absolute;
    color: #fff;
    text-align: center;
    margin: 10px;
}

.container .login-img .iconFriendly{
    position: absolute;
    top: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.container .login-img .content-text button{
    background-color: var(--default-color);
    border: 0;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

@media (max-width:800px) {
    .login-img{
        display: none;
    }
}

.container .login-form span{
    color: #0d1be2;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    display: block;
    cursor: pointer;
}
.inputLembrar{
    display: flex;
    gap: 6px;
}

.inputLembrar .forgot{
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.inputLembrar input{
    width: 20px;
    height: 30px;
    cursor: pointer;
}
.input-box img{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
